@media(min-width: 1000px){

  .test{
    height: 600px;
    width: 600px;
    background: #888888;
  }
}

@media(max-width: 1000px){

  .test{
    height: 0;
    width: 20%;
    padding-top: 20%;
    background: #F00;
  }
}
