body{
  box-sizing:border-box;

  width:100%;
  height:1000px;
  margin:0px;
  padding:0px;

  background-color:#fff;
}

header{
  box-sizing:border-box;

  width:100%;
  height:100px;
  margin-top:20px;

  position:sticky;
  top:0px;

  background-color:#223748;

  border-right:300px ridge rgba(43, 59, 117, 0.2);
}

header, footer{
  color:#fff;
}

#überschrift{
  position: absolute;
  top:10px;
  left:100px;
}
/*Unteres Banner Styling Anfang---->*/
footer{
  background-color:#354e62;

  height:60px;
  width:100%;
  padding-left:5%;

  position:fixed;
  bottom:0px;
}

footer > div{
  display:inline-block;

  height:100%;
  width:30%;
}
footer div span{
  position:relative;
  top:10px;
  left:50px;
  font-size:2rem;
}
/*<---- Unteres Banner Styling Ende*/
//Coloring of the
#adresseDiv{
  background-color:#243851;
}
#telefonDiv{
  background-color:#1F2E3F;
}
#weiteresDiv{
  background-color:#192533;
}

/* Button Optick*/
#hochButton{
  display: inline-block;
  position: sticky;
  top:100px;

  width:100px;
  margin-top:20px;
  background-color:#243851;

  font-size:1.5rem;
}
#buttonText{
  margin-left:20px;
}
a:link{
  color:#fff;
}
a:hover{
  text-decoration: underline;
}
a:visited{
  text-decoration: none;
  color:#fff;
}

/*Link Linki back*/
#LinkLinki{
  background-color:#243851;
  width:100px;
  margin-left:40px;
}

/* __Gird-System__ */
.container{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.row::after{
  content: "";
  clear: both;
  display: block;
}

[class *= 'col-']{
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding: 10px;
}
/* 15.8333333333 16.6666666667%;*/
.col-1{ width: 16.6666666667%; }
.col-2{ width: 33.3333333333%; }
.col-3{ width: 50%; }
.col-6{ width: 100%; }
