body{
  font-family:Tahoma, Verdana, sans-serif;
  font-size:30px;
}
h1{font-family: 'Rock 3D', cursive;}
  #T1{font-family: serif;}
  #T2{font-family: sans-serif;}
  #T3{font-family:cursive; }
  #T4{font-family:fantasy;}
  #T5{font-family:monospace;}
