/*  __Farbschema__

blue=     #1F4E8C
grey=     #3D3F45
White=    #E5E5E5
red=      #A62C21
*/

body{
  box-sizing:border-box;
  margin:0;
  font-family:'raleway','lato', 'Helvetica Neue', 'Areal' ,'sans-serif';
  font-size: 16px;
}


/* __Hintergrund Bild im Banner__ */
.header-Banner{
  width: 100%;
  height: 0px;
  padding-top:20.83%; /* __Rechnung: 1920px*400px   1000px* ??? Wike viel % von 1920px sind 400px? 400/1920*100=20.83%__*/
  background: url(../img/hintergrund.jpg) no-repeat 50% 50%;
  background-size:contain;
}

.header-Banner-klein{
  width: 100%;
  height: 0px;
  padding-top:15.625%; /* __Rechnung: 1920px*300px   1000px* ??? Wike viel % von 1920px sind 300px? 300/1920*100=15.625%__*/
  background: url(../img/hintergrund-klein.jpg) no-repeat 50% 50%;
  background-size:contain; /*__Woran orientier t sich die nGröße. AKA hier: Die Kommplette hoche und breite des Elements __*/
}


/* __Navigations Leiste__ */
.header-nav{
  width: 100%;
  height: 50px;

  position: relative;

  background-color: #3D3F45;
  font-weight: bold;
  font-size: 1.1rem;
}

.header-nav  a > img{
  float: left;
  height: 40px;
  width: auto;
  margin-top: 0.3rem;
}


/* __Header-Nav Liste__ */
.header-nav  ul{
  float: right;
  height: 100%;
  right:2rem;
  margin:0;
  padding:0;
}

.header-nav  ul > li{
  display: inline-block;
  height: 100%;
  padding: 0 .3rem 0 .3rem;
}


/* __Header-Nav Links__ */
.header-nav  ul > li > a{
  display: inline-block;
  margin-top:.8rem;
}

.header-nav  ul > li > a:link{
  color: #FFF;
  text-decoration: none;
}

.header-nav  ul > li > a:hover{
  color: #E5E5E5;
  text-decoration: none;
}

.header-nav  ul > li > a:active{
  color: #E5E5E5;
  text-decoration: none;
}

.header-nav  ul > li > a:visited{
  color: #FFF;
  text-decoration: none;
}
.header-nav .container,
.header-nav .row,
.header-nav .col-6{
  height: 100%;
}

.header-nav .col-6{
  margin: 0;
  padding: 0;
}


.active{
  background-color: #A62C21;
}


/* __Gird-System__ */
.container{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.row::after{
  content: "";
  clear: both;
  display: block;
}

[class *= 'col-']{
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding: 10px;
}
/* 15.8333333333 16.6666666667%;*/
.col-1{ width: 16.6666666667%; }
.col-2{ width: 33.3333333333%; }
.col-3{ width: 50%; }
.col-6{ width: 100%; }

/* __Gird-System sichtbarkeit__ */
/* .border, .border *{
  border: 1px solid #91c4ff;
}
[class *= "col-"]{
  background: #bfddff;
}
p{
  background: #91c4ff;
  padding: 0;
  margin: 0;
  color: #FFF;
  text-align: center;
} */

@media (max-width: 1024px){
  .col-1{ width: 33.3333333333%}
}

@media (max-width: 768px){
  .col-1{ width: 50%; }
  .col-2{ width: 100%; }
  .col-3{ width: 100%; }
}

@media (max-width: 480px){
  .col-1{ width: 100%; }
  .col-2{ width: 100%; }
  .col-3{ width: 100%; }
}
